html {
	scroll-behavior: smooth;
}

.ant-layout-content {
  background: white;
}

header.ant-layout-header.site-wide-header {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: orange;
}

.product-details-container{
  margin: auto;
  min-width: 1024px;
  max-width: 65%;
  display: block;
}