body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  margin: auto;
  width: 60%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.searchForm {
  align-self: center;
}

.logo{
  color: white;
}

#selectionTab {
  background-color: #f0f2f5;
}
#siteWideMessage {
  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselPlaceHolder {
  width: 800px;
  height: 600px;
}

.innerCarousel {
  position: absolute;
  z-index: 9999;
  margin-left: 15px;
  margin-top: 30px;
  height: 60px;
  width: 60px;
}

.outer-carousel {
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: 9999;
  transition: width 2s;

}

.outer-carousel .carousel__slider--horizontal li{
  height: 600px;
}

.outer-carousel.expanded .carousel__slider--horizontal li{
  height: 600px;
}

.outer-carousel.expanded .carousel__slider--horizontal{
  width: 157%;
}
.expand-button {
  position: relative;
  top: 20px;
  right: -780px;
  z-index: 99999;
}

.arrows {
  position: relative;
  z-index: 99999999px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.arrows.right {
  top: -330px;
  left: 390px;
}

.arrows.left {
  top: -300px;
  left: -390px
}

.small-image {
  object-fit: contain;
}

.chevron {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 20px;
}